body {
  /*background-image: linear-gradient(to right, rgba(0, 24, 57, 0.2), rgba(0, 157, 255, 0.3));*/
  background-image: linear-gradient(to right, rgba(147,164,174), rgba(151,168,178), rgba(179,191,201), rgba(222,231,233));
  background-repeat: no-repeat; /* Arka planın tekrarlamasını kaldır */
  background-attachment: fixed; /* Arka planın kaydırma ile hareket etmemesini sağlar */
  background-size: cover; /* Arka planın konteyneri tamamen kaplamasını sağlar */
  width: 100%; /* Genişliği tanımla, böylece arka plan kenarları kaplar */
  overflow-x: hidden; /* Yatay kaydırmayı gizle */
  margin: 0;
  padding: 0;
  height: 100%;
}

.card-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  width: 90%;
  max-width: 1300px;
}

@media (min-width: 768px) {
  .card-container {
      grid-template-columns: repeat(3, 1fr);
  }
}