.home-content {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
  
.cards-container {
  display: flex;
  width: 100%;
  min-height: 85vh;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  padding: 14px;
}
  
.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%; 
  padding: 10px;
}
  
.left-side .card { 
  width: 100%;
  margin: 10px;
  text-align: center;
}
  
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  padding: 10px;
}
  
.right-side .top-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
  
.right-side .top-cards .card {
  width: calc(50% - 10px); 
  margin: 10px;
}

.right-side .bottom-card {
  width: 100%;
  display: flex;
  justify-content: center;
}

.right-side .bottom-card .card {
  width: 100%;
  margin: 10px;
}


.additional-content {
  min-height: 99vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
  
.content-section {
  display: flex;
  justify-content: space-between;
}
  
.text-side,
.image-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
  
.text-side {
  background-color: #9EB8D9; 
}

.image-side {
  background-color: #EEF5FF; 
}

@keyframes gradientAnimation {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}


.WelcomeText {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #ff6f61, #ffc3a0);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 15s ease infinite;
}


@media (max-width: 768px) {
  .WelcomeText {
    font-size: 2rem; 
    white-space: normal; 
  }

  .StyledSection {
    flex-direction: column;
    padding: 10px 0; 
  }

  .left-side, .right-side {
    flex-basis: 100%;
  }

  .right-side {
    order: 2;
    margin-top: 20px;
  }

  .explore-button {
    width: 100%;
  }

  .highlight {
    font-size: 20px;
  }
}
