.home-content {
  min-height: 100vh; /* Set minimum height to fill the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  margin-top: 20px;
  padding-bottom: 20px;
}
  
.cards-container {
  display: flex;
  width: 100%;
  min-height: 85vh;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  padding: 14px;
}
  
.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%; /* Take half of the container width */
  padding: 10px;
}
  
.left-side .card { /* Assuming .card is the class used within ColorCard component */
  width: 100%;
  margin: 10px;
  text-align: center;
}
  
/* This will style the right-side smaller cards */
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Dikeyde ortalamak için */
  align-items: center;
  flex-basis: 50%;
  padding: 10px;
}
  
.right-side .top-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
  
.right-side .top-cards .card {
  width: calc(50% - 10px); /* Two cards, minus margin */
  margin: 10px;
}

.right-side .bottom-card {
  width: 100%;
  display: flex;
  justify-content: center;
}

.right-side .bottom-card .card {
  width: 100%;
  margin: 10px;
}


.additional-content {
  min-height: 99vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
  
.content-section {
  display: flex;
  justify-content: space-between;
}
  
.text-side,
.image-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
  
.text-side {
  background-color: #9EB8D9; /* Örnek arkaplan rengi */
}

.image-side {
  background-color: #EEF5FF; /* Örnek arkaplan rengi */
}
  
  /* Responsive tasarım için ekstra küçük cihazlar için stil */
  @media (max-width: 768px) {
    .content-section {
      flex-direction: column;
    }

    .left-side .card {
      font-size: 25px;
    }

    .right-side .card {
      font-size: 18px;
    }
  
    .left-side, .right-side {
      flex-basis: 100%; /* Full width on small screens */
    }
  
    .right-side .top-cards, .right-side .bottom-card {
      flex-direction: row;
      justify-content: space-between;
    }

    .right-side .top-cards .card, .right-side .bottom-card .card {
      width: 48%; /* Adjust for small screens, minus margin */
      margin: 1%; /* Small margin on small screens */
    }
  }  